@import "../../../styles/scss/variables.scss";

.SideDrawer {
  height: 100vh;
  width: 100vw;
  background: $secondary--color;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  text-align: center;

  &__links {
    margin: 3rem auto;
    display: flex;
    flex-direction: column;
    &--link {
      display: inline;
      padding: 1rem;
      font-size: 1.5rem;
      color: $second--font;
      &:hover {
        background-color: rgba(0, 0, 0, 0.15);
      }
      li {
        color: $second--font;
      }
    }
  }
}

.link {
  text-decoration: none;
}
