@import "../../styles/scss/variables.scss";
@import "../../styles/scss/mixins.scss";

.light-mode {
  background-color: $background--color;
  color: $main--font;
}

.dark-mode {
  background-color: $background--color--dark;
  color: $main--font--dark;
}

.customization {
  padding: 1rem;
  font-size: 1.5rem;
  text-align: center;
  &__themeButton {
    @include button;
    margin-top: 1rem;
    &--red {
      @extend .customization__themeButton;
      background-color: rgb(236, 54, 54);
    }
  }
}
