@import "../../styles/scss/variables.scss";
@import "../../styles/scss/mixins.scss";

.BookList {
  text-align: center;
  padding: 1rem;
  max-width: 30rem;
  margin: auto;
  &__sortingOptions {
    border: solid 1px $primary--border--color;
    padding: 0.5rem;
    .select {
      display: inline-block;
    }
  }
  &__list {
    max-height: 20rem;
    overflow-y: auto;

    &__item {
      padding: 0.5rem;
      border-bottom: 1px solid $primary--border--color;
      border-left: 1px solid $primary--border--color;
      border-right: 1px solid $primary--border--color;
    }
    &__details {
      width: 100vw;
      height: 100vh;
      top: 0;
      left: 0;
      z-index: 5;
      position: fixed;
    }
  }
  &__bookAmount {
    margin-top: 0.2rem;
    font-size: 0.8rem;
    text-align: end;
  }
  &__button {
    @include button;
    margin-top: 0.75rem;
  }
}
