.NavBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #afaa9a;

  &__item {
    padding: 0.5rem;
    text-decoration: none;
    color: white;
    font-size: 1.2rem;

    &:first-child {
      margin: auto 0;
    }

    &:last-child {
      background-color: #afaa9a;
      border: none;
    }
  }
}

.toggleButton {
  background-color: red;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  box-sizing: border-box;

  &__line {
    margin: 4px;
    color: black;
    width: 1.25rem;
    height: 2px;
    background: black;
  }
}
