@import '../../../styles/scss/variables.scss';

.NavBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: $nav--color;
  padding: 1rem;

  &__item {
    text-decoration: none;
    color: $second--font;
    font-size: 1.2rem;

    &:first-child {
      margin: auto 0;
    }

    &:last-child {
      background-color: $nav--color;
      border: none;
    }
  }
}

.toggleButton {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  box-sizing: border-box;

  &__line {
    margin: 4px;
    width: 1.25rem;
    height: 2px;
    background: $second--font;
  }
}
