@import "../../styles/scss/mixins.scss";
@import "../../styles/scss/variables.scss";

.Login {
    border: 1px solid black;
    padding: 1rem;
    margin: 1rem 1rem;
    text-align: center;
    font-size: 1.2rem;
    border-radius: 5px;
    &__label {
        margin: 0.25rem;
        display: block;
    }
    &__input {
        @include input;
    }
    &__button {
        @include button;
        margin-top: 0.5rem;
    }
    &__createAccount {
        text-align: center;
        margin-top: 1rem;
        &__link {
            margin-left: 0.25rem;
            color: $link--color;
        }
    }
}

.error {
    @include error;
}
