@import "../../styles/scss/mixins.scss";
@import "../../styles/scss/variables.scss";

.Login {
    border: 1px solid $primary--border--color;
    padding: 5rem 1rem; // padding: 1rem 1rem 10rem 1rem;
    margin: 1rem 1rem;
    text-align: center;
    font-size: 1.2rem;
    border-radius: 3px;
    &__mainText {
        font-size: 2rem;
        margin: 0 0 1.5rem 0;
    }
    &__label {
        margin: 0.25rem;
        display: block;
    }
    &__input {
        @include input;
    }
    &__button {
        @include button;
    }
    &__createAccount {
        font-size: 0.9rem;
        text-align: center;
        margin-top: 1rem;
        &__link {
            margin-left: 0.25rem;
            color: $link--color;
        }
    }
}

.error {
    @include error;
}
