@import "./variables.scss";

@mixin button {
    display: block;
    margin: 1.2rem auto;
    min-width: 14rem;
    padding: 1.2rem; // padding: 0.75rem 1.5rem;
    border: 0px solid $primary--border--color;
    border-radius: 3px;
    background-color: $secondary--color;
    color: $second--font;
    cursor: pointer;
}

@mixin input {
    display: block;
    margin: 1.2rem auto;
    background-color: #e6e6e6;
    border: none;
    padding: 1.2rem;
    min-width: 14rem;
    border-radius: 3px;
    &:focus {
        outline: none;
    }
    &--error {
        border: solid 2px $font--error;
        background-color: rgba(255, 182, 182, 0.425);
    }
}

@mixin switch {
    appearance: none;
    cursor: pointer;
    height: 25px;
    width: 45px;
    border-radius: 16px;
    position: relative;
    margin: 0;
    border: 2px solid grey; //kolor tla suwaka
    background: white; //kolor tla suwaka
    transition: all 0.2s ease;
    &:focus {
        outline: none;
    }
    &:after {
        content: "";
        position: absolute;
        top: 2px;
        left: 2px;
        width: 18px;
        height: 18px;
        border-radius: 50%;
        background: grey; //kolor kulki
        box-shadow: 0 1px 2px rgba(44, 44, 44, 0.2);
        transition: all 0.2s cubic-bezier(0.5, 0.1, 0.75, 1.35);
    }
    &:checked {
        border: 2px solid $primary--border--color; //kolor tla suwaka
        background: linear-gradient(180deg, #2d2f39 0%, #1f2027 100%); //kolor tla suwaka
        // border-color: #654fec;
        &:after {
            background: $background--color; //kolor kulki
            transform: translateX(20px);
        }
    }
}

@mixin error {
    font-size: 0.8rem;
    color: $font--error;
    margin: 0.3rem;
}

@mixin display {
    height: 100vh;
    width: 100vw;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20;
    &__close {
        position: absolute;
        right: 16px;
        top: 16px;
        width: 32px;
        height: 32px;
        opacity: 0.3;
        &:hover {
            opacity: 1;
        }
        &::before,
        &::after {
            position: absolute;
            left: 15px;
            content: " ";
            height: 33px;
            width: 2px;
            background-color: black;
        }
        &::before {
            transform: rotate(45deg);
        }
        &::after {
            transform: rotate(-45deg);
        }
    }
}
