$background--color: white;
$secondary--color: rgb(39, 50, 56);
$nav--color: rgb(39, 50, 56);
$main--font: black;
$second--font: white;
$primary--border--color: black;
$font--error: red;
$link--color: blue;

$background--color--dark: rgb(32, 32, 32);
$secondary--color--dark: rgb(32, 32, 32);
$nav--color--dark: rgb(32, 32, 32);
$main--font--dark: white;
$second--font--dark: white;
$primary--border--color--dark: white;
$font--error--dark: red;
$link--color--dark: rgb(255, 255, 116);
