$background--color: white;
$secondary--color: rgb(39, 50, 56);
$nav--color: rgb(39, 50, 56);
$main--font: black;
$second--font: white;
$primary--border--color: black;

$background--color--dark: rgb(32, 32, 32);
$secondary--color--dark: rgb(32, 32, 32);
$nav--color--dark: rgb(32, 32, 32);
$main--font--dark: white;
$second--font--dark: white;
$primary--border--color--dark: white;
